.body{
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.checked {
  color: orange;
}

.price{
  font-weight: 400;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rating-box{
  margin-top: 5px;
  margin-bottom: 5px;
}